In [6]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Table, Integer, String

In [8]:
data=pd.read_csv('data/worldometer.csv')
data

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop
0,China,"80,894",13.0,"3,237",11.0,"69,614","8,043","2,622",56
1,Italy,"31,506",NaN,"2,503",NaN,"2,941","26,062","2,060",521
2,Iran,"16,169",NaN,988,NaN,"5,389","9,792",NaN,193
3,Spain,"11,826",NaN,533,NaN,"1,028","10,265",563,253
4,Germany,"9,367",NaN,26,NaN,67,"9,274",2,112
...,...,...,...,...,...,...,...,...,...
161,Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
162,Suriname,1,NaN,NaN,NaN,NaN,1,NaN,2
163,Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.9
164,Tanzania,1,NaN,NaN,NaN,NaN,1,NaN,0.02
165,Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.1

In [10]:
# create engine to communicate with database
engine=create_engine('sqlite:///worldometer.sqlite')

In [13]:
# create Session object to connect to DB
# a Session establishes all conversations with the database and represents a "holding zone" for all objects which you've loaded or associated with it during its lifespan
session=Session(bind=engine)

In [14]:
data.columns

Index(['Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths',
       'Total Recovered', 'Active Cases', 'Serious, Critical',
       'Tot Cases/1M pop'],
      dtype='object')

In [12]:
# map which table in database will be related to the Python class
Base=declarative_base()
class worldometer(Base):
    __tablename__='worldometer'
    country=Column(String, primary_key=True)
    total_cases=Column(Integer)
    new_cases=Column(Integer)
    total_deaths=Column(Integer)
    new_deaths=Column(Integer)
    total_recovered=Column(Integer)
    active_cases=Column(Integer)
    serious_critical=Column(Integer)
    total_cases_per_1M_pop=Column(Integer)