In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Table, Integer, String

In [29]:
data=pd.read_csv('data/worldometer.csv', index_col='Country')
data

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,"Serious, Critical",Tot Cases/1M pop
Country,,,,,,,,
China,"80,894",13.0,"3,237",11.0,"69,614","8,043","2,622",56
Italy,"31,506",NaN,"2,503",NaN,"2,941","26,062","2,060",521
Iran,"16,169",NaN,988,NaN,"5,389","9,792",NaN,193
Spain,"11,826",NaN,533,NaN,"1,028","10,265",563,253
Germany,"9,367",NaN,26,NaN,67,"9,274",2,112
S. Korea,"8,413",93.0,84,3.0,"1,540","6,789",59,164
France,"7,730",NaN,175,NaN,602,"6,953",699,118
USA,"6,509",98.0,115,6.0,106,"6,288",12,20
Switzerland,"2,742",NaN,27,NaN,15,"2,700",NaN,317
UK,"1,950",NaN,71,NaN,65,"1,814",20,29
Netherlands,"1,705",NaN,43,NaN,2,"1,660",45,100
Norway,"1,471",NaN,3,NaN,1,"1,467",27,271
Austria,"1,332",NaN,4,NaN,9,"1,319",12,148
Belgium,"1,243",NaN,10,NaN,14,"1,219",33,107
Sweden,"1,196",NaN,8,NaN,1,"1,187",12,118
Denmark,977,NaN,4,NaN,1,972,18,169
Japan,882,4.0,29,NaN,144,709,41,7
Diamond Princess,712,NaN,7,NaN,456,249,14,NaN
Malaysia,673,NaN,2,NaN,49,622,10,21
Canada,598,NaN,8,NaN,12,578,1,16
Australia,539,84.0,6,1.0,27,506,1,21
Portugal,448,NaN,1,NaN,3,444,18,44
Qatar,442,NaN,NaN,NaN,4,438,NaN,153
Czechia,434,NaN,NaN,NaN,3,431,2,41
Greece,387,NaN,5,NaN,14,368,11,37
Brazil,346,NaN,1,NaN,2,343,18,2
Israel,337,NaN,NaN,NaN,11,326,5,39
Finland,322,NaN,NaN,NaN,10,312,2,58
Ireland,292,NaN,2,NaN,5,285,6,59
Slovenia,275,NaN,1,NaN,NaN,274,4,132
...,...,...,...,...,...,...,...,...
St. Barth,3,NaN,NaN,NaN,NaN,3,NaN,304
Barbados,2,NaN,NaN,NaN,NaN,2,NaN,7
Liberia,2,NaN,NaN,NaN,NaN,2,NaN,0.4
Montenegro,2,NaN,NaN,NaN,NaN,2,NaN,3
Namibia,2,NaN,NaN,NaN,NaN,2,NaN,0.8
Saint Lucia,2,NaN,NaN,NaN,NaN,2,NaN,11
Saint Martin,2,NaN,NaN,NaN,NaN,2,NaN,52
U.S. Virgin Islands,2,NaN,NaN,NaN,NaN,2,NaN,19
Cayman Islands,1,NaN,1,NaN,NaN,0,NaN,15
Sudan,1,NaN,1,NaN,NaN,0,NaN,0.02
Nepal,1,NaN,NaN,NaN,1,0,NaN,0.03
Antigua and Barbuda,1,NaN,NaN,NaN,NaN,1,NaN,10
Bahamas,1,NaN,NaN,NaN,NaN,1,NaN,3
Benin,1,NaN,NaN,NaN,NaN,1,NaN,0.08
Bhutan,1,NaN,NaN,NaN,NaN,1,NaN,1
CAR,1,NaN,NaN,NaN,NaN,1,NaN,0.2
Congo,1,NaN,NaN,NaN,NaN,1,NaN,0.2
Equatorial Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.7
Gabon,1,NaN,NaN,NaN,NaN,1,NaN,0.4
Gambia,1,NaN,NaN,NaN,NaN,1,NaN,0.4
Greenland,1,NaN,NaN,NaN,NaN,1,NaN,18
Guinea,1,NaN,NaN,NaN,NaN,1,NaN,0.08
Vatican City,1,NaN,NaN,NaN,NaN,1,NaN,"1,248"
Mauritania,1,NaN,NaN,NaN,NaN,1,NaN,0.2
St. Vincent Grenadines,1,NaN,NaN,NaN,NaN,1,NaN,9
Somalia,1,NaN,NaN,NaN,NaN,1,NaN,0.06
Suriname,1,NaN,NaN,NaN,NaN,1,NaN,2
Eswatini,1,NaN,NaN,NaN,NaN,1,NaN,0.9
Tanzania,1,NaN,NaN,NaN,NaN,1,NaN,0.02
Togo,1,NaN,NaN,NaN,NaN,1,NaN,0.1

In [30]:
# create engine to communicate with database
engine=create_engine('sqlite:///worldometer.sqlite')

In [31]:
# create Session object to connect to DB
# a Session establishes all conversations with the database and represents a "holding zone" for all objects which you've loaded or associated with it during its lifespan
session=Session(bind=engine)

In [32]:
# data.columns
rename_columns={
    'Country':'country', 
    'Total Cases': 'total_cases', 
    'New Cases': 'new_cases', 
    'Total Deaths': 'total_deaths', 
    'New Deaths': 'new_deaths', 
    'Total Recovered': 'total_recovered', 
    'Active Cases': 'active_cases', 
    'Serious, Critical': 'serious_critical', 
    'Tot Cases/1M pop': 'total_cases_per_1M_pop'
}
data.rename(columns=rename_columns, inplace=True)

In [33]:
# map which table in database will be related to the Python class
Base=declarative_base()
class worldometer(Base):
    __tablename__='worldometer'
    country=Column(String, primary_key=True)
    total_cases=Column(Integer)
    new_cases=Column(Integer)
    total_deaths=Column(Integer)
    new_deaths=Column(Integer)
    total_recovered=Column(Integer)
    active_cases=Column(Integer)
    serious_critical=Column(Integer)
    total_cases_per_1M_pop=Column(Integer)

In [34]:
Base.metadata.create_all(engine)

In [35]:
data.to_sql(con=engine, name=worldometer.__tablename__, if_exists='replace')

In [36]:
print(session.query(worldometer).statement)

SELECT worldometer.country, worldometer.total_cases, worldometer.new_cases, worldometer.total_deaths, worldometer.new_deaths, worldometer.total_recovered, worldometer.active_cases, worldometer.serious_critical, worldometer."total_cases_per_1M_pop"
FROM worldometer

In [37]:
for each_result in session.query(worldometer).all():
    print (each_result.country)

China
Italy
Iran
Spain
Germany
S. Korea
France
USA
Switzerland
UK
Netherlands
Norway
Austria
Belgium
Sweden
Denmark
Japan
Diamond Princess
Malaysia
Canada
Australia
Portugal
Qatar
Czechia
Greece
Brazil
Israel
Finland
Ireland
Slovenia
Singapore
Iceland
Pakistan
Bahrain
Poland
Estonia
Romania
Chile
Egypt
Philippines
Thailand
Indonesia
Saudi Arabia
Hong Kong
Iraq
India
Luxembourg
Kuwait
Lebanon
San Marino
Peru
Russia
UAE
Ecuador
Turkey
Slovakia
South Africa
Mexico
Bulgaria
Argentina
Armenia
Taiwan
Serbia
Panama
Croatia
Vietnam
Colombia
Algeria
Latvia
Brunei
Albania
Hungary
Costa Rica
Uruguay
Cyprus
Jordan
Faeroe Islands
Morocco
Sri Lanka
Palestine
Andorra
Malta
Belarus
Azerbaijan
Georgia
Bosnia and Herzegovina
Cambodia
Oman
Kazakhstan
Venezuela
North Macedonia
Moldova
Senegal
Lithuania
Tunisia
Afghanistan
Dominican Republic
New Zealand
Liechtenstein
Guadeloupe
Martinique
Burkina Faso
Ukraine
Macao
Jamaica
Maldives
Bolivia
French Guiana
Uzbekistan
Bangladesh
Cameroon
Monaco
Paraguay
Réunion
Guatemala
Honduras
Guyana
Cuba
Ghana
Rwanda
Channel Islands
Ethiopia
Guam
Mongolia
Puerto Rico
Trinidad and Tobago
Ivory Coast
Kenya
Seychelles
Nigeria
Aruba
Curaçao
DRC
French Polynesia
Gibraltar
Mayotte
St. Barth
Barbados
Liberia
Montenegro
Namibia
Saint Lucia
Saint Martin
U.S. Virgin Islands
Cayman Islands
Sudan
Nepal
Antigua and Barbuda
Bahamas
Benin
Bhutan
CAR
Congo
Equatorial Guinea
Gabon
Gambia
Greenland
Guinea
Vatican City
Mauritania
St. Vincent Grenadines
Somalia
Suriname
Eswatini
Tanzania
Togo